.topnav-bg {
  background-color: rgba(110, 236, 165, 0.35);
}
.topnav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.topnav-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.topnav a:first-child {
  padding: 8px 0;
}
.topnav-menu a {
  display: inline-block;
  color: #3a2823;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 20px 0;
}
#logo {
  width: 90px;
}
