.sobre-nos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 20px;
  max-width: 1300px;
  margin: auto;
}

video {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.video {
  grid-column: 1;
}

.texto {
  grid-column: 2;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  justify-content: center;
}
